<footer class="foot">
  <div class="wrap">
    <div class="foot__top">
      <a href="index.html#top" class="brand"><b>DieWerk<em>stadt</em></b></a>
      <nav class="foot__nav" aria-label="Footer">
        <a href="index.html#netzwerk">Netzwerk</a>
        <a href="index.html#leistungen">Leistungen</a>
        <a href="index.html#events">Events</a>
        <a href="index.html#gruender">Gründer</a>
        <a href="index.html#kontakt">Kontakt</a>
        <a href="hinweise.html">Über diesen Entwurf</a>
      </nav>
    </div>
    <div class="foot__bottom">
      <span>Unternehmernetzwerk &middot; Friedrich-Ebert-Str. 85-87 &middot; 42719 Solingen</span>
      <span><a href="impressum.html">Impressum</a> &nbsp;&middot;&nbsp; <a href="datenschutz.html">Datenschutz</a></span>
    </div>
  </div>
</footer>
